{% extends "layout.html" %}

{% block title %}Categories{% endblock %}
{% block description %}List of word categories to practice{% endblock %}

{% block content %}
<div class="category-grid">
{% for (name, category) in categories %}
    <a class="category-card" href="/categories/{{ name }}.html" >
        <img class="category-card__img" src="{{ category.icon_src|safe }}" alt="" />
        <span class="category-card__span">{{ category.label|e }}</span>
    </a>
{% endfor %}
</div>
{% endblock %}
