{% extends "layout.html" %}

{% block title %}Categories{% endblock %}
{% block description %}List of word categories to practice{% endblock %}

{% block content %}
<div class="flex flex-wrap items-center justify-around">
  {% for (name, category) in categories %}
  <a
    class="m-5 text-center"
    href="/categories/{{ name }}.html"
  >
    <img
      class="w-40 h-40 object-contain rounded-md"
      src="{{ category.icon_src|safe }}"
      alt=""
    />
    <span class="px-2 bg-white rounded-md">{{ category.label|e }}</span>
  </a>
  {% endfor %}
</div>
{% endblock %}
